openapi: 3.0.3
info:
  title: Parametros Generales MDL
  description: API Crud para acceder a la capa maestro de parametros
  contact:
    name: Alberto Jose Soria Gonzalez
    url: https://app.swaggerhub.com/apis/santalucia/parametros-generales-mdl/1.1
    email: albertojose.soriag@santalucia.es
  version: "1.1"
  x-log:
    - "1.1: (13/05/24) Añadida entidad Compañías aseguradoras grupo"
    - "1.0: (05/04/24) Version inicial"
  x-company-stlc: SANTALUCIA SEGUROS
 
servers:
  - url: https://api-cloud-sldev.santalucia.es/mdl/parametros-generales/v1
    description: Cloud | Sandbox Server
  - url: https://api-cloud-sltest.santalucia.es/mdl/parametros-generales/v1
    description: Cloud | QA Server
  - url: https://api-cloud-slpre.santalucia.es/mdl/parametros-generales/v1
    description: Cloud | Preproduction Server
  - url: https://api-cloud.santalucia.es/mdl/parametros-generales/v1
    description: Cloud | Production Server
security:
  - oauth: []
paths:
  /cores:
    get:
      tags:
        - Cores
      summary: Recupera listado de Cores
      description: |-
        Recupera listado de Cores conforme a los filtros indicados:

        - core.< atributo >, por ej:
          - core.idCore=1 (identificador de Core)
      operationId: findAllDefinicion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCore'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /cores/{id}:
    get:
      tags:
        - Cores
      summary: Recupera un Core
      description: Recupera un Core por ID
      operationId: findByIdDefinicion
      parameters:
        - name: id
          in: path
          description: Identificador de la entidad
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Core'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /idiomas:
    get:
      tags:
        - Idiomas
      summary: Recupera los idiomas
      description: |-
        Recupera listado de Idiomas conforme a los filtros indicados:

        - idioma.< atributo >, por ej:
          - idioma.idIdioma=1 (identificador)
      operationId: findAllIdiomas
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIdioma'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /idiomas/{id}:
    get:
      tags:
        - Idiomas
      summary: Recupera un idioma
      description: Recupera un idioma por ID
      operationId: findByIdIdioma
      parameters:
        - name: id
          in: path
          description: Identificador de la entidad
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Idioma'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /idiomas/definiciones:
    get:
      tags:
        - Idiomas
      summary: Recupera listado de definiciones de Idiomas
      description: |-
        Recupera listado de definiciones de Idiomas conforme a los filtros indicados, siendo requerido al menos el CORE seleccionado para la consulta:

        - core.idCore=1 (core requerido)
        - idioma.< atributo >, por ej:
          - idioma.idIdioma=1 (identificador)
      operationId: findAllIdiomasDefinicion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIdiomaDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /idiomas/definiciones/{id}:
    get:
      tags:
        - Idiomas
      summary: Recupera una definición de un idioma
      description: Recupera una definición de un idioma por ID
      operationId: findByIdIdiomaDefinicion
      parameters:
        - name: id
          in: path
          description: Identificador de la entidad
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdiomaDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /idiomas/traducciones:
    get:
      tags:
        - Idiomas
      summary: Recupera las traducciones de Idiomas
      description: |-
        Recupera listado de traducciones de Idiomas conforme a los filtros indicados, siendo requerido al menos para la consulta:

        - idioma1.idIdioma=1 (idioma1 requerido, hace referencia al idioma a traducir)
        - idioma2.idIdioma=2 (idioma2 requerido, hace referencia en que idioma se quiere realizar la traduccion)
      operationId: findAllIdiomasTraduccion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIdiomaTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /idiomas/traducciones/{id}:
    get:
      tags:
        - Idiomas
      summary: Recupera una traducción de un idioma
      description: Recupera una traducción de un idioma por ID
      operationId: findByIdIdiomaTraduccion
      parameters:
        - name: id
          in: path
          description: Identificador de la traducción
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdiomaTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /divisas:
    get:
      tags:
        - Divisas
      summary: Recupera listado de Divisas
      description: |-
        Recupera listado de las divisas conforme a los filtros indicados:
        - divisa.< atributo >, por ej:
          - divisa.idDivisa=1 (identificador)
      operationId: findAllDivisa
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDivisa'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /divisas/{id}:
    get:
      tags:
        - Divisas
      summary: Recupera una divisa determinada
      description: Recupera una divisa determinada por ID
      operationId: findByIdDivisa
      parameters:
        - name: id
          in: path
          description: Identificador de la entidad
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Divisa'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /divisas/definiciones:
    get:
      tags:
        - Divisas
      summary: Recupera listado de definiciones de las divisas
      description: |-
        Recupera listado de definiciones de las divisas, siendo requerido al menos el Core seleccionado para la consulta:

        - core.idCore=1 (core requerido)
        - divisa.codDivisa=USD
      operationId: findAllDivisaDefinicion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDivisaDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /divisas/definiciones/{id}:
    get:
      tags:
        - Divisas
      summary: Recupera una definición de una divisa
      description: Recupera una definición de una divisa por ID
      operationId: findByIdDivisaDefinicion
      parameters:
        - name: id
          in: path
          description: Identificador de la definición
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisaDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /divisas/traducciones:
    get:
      tags:
        - Divisas
      summary: Recupera listado de traducciones de las divisas
      description: |-
        Recupera listado de traducciones de las divisas, siendo requerido al menos el IDIOMA seleccionado para la consulta:

        - idioma.idIdioma=1 (idioma requerido)
      operationId: findAllDivisaTraduccion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDivisaTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /divisas/traducciones/{id}:
    get:
      tags:
        - Divisas
      summary: Recupera una traducción de una divisa
      description: Recupera una traducción de una divisa por ID
      operationId: findByIdDivisaTraduccion
      parameters:
        - name: id
          in: path
          description: Identificador de la traducción
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisaTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "429":
          description: Se ha excedido el límite de solicitudes permitidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_429'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /companyias-grupo:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera las compañias aseguradoras grupo
      description: |-
        Recupera listado de las Bonificaciones conforme a los filtros indicados:
        - companiaGrupo.< atributo >, por ej:
        - companiaGrupo.idCompaniaGrupo=1 (identificador)
      operationId: findAllCompaniaGrupo
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCompaniaGrupo'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /companyias-grupo/{id}:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera una compañia aseguradora grupo
      description: Recupera una compañia aseguradora grupo por ID
      operationId: findByIdCompaniaGrupo
      parameters:
        - name: id
          in: path
          description: Identificador de la entidad
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniaGrupo'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /companyias-grupo/definiciones:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera las definiciones de compañias aseguradoras grupo
      description: |-
        Recupera listado de las definiciones conforme a los filtros indicados, siendo requerido al menos el Core seleccionado para la consulta:

        - core.idCore=1 (core requerido)
        - companiaGrupo.< atributo >, por ej:
          - companiaGrupo.idCompaniaGrupo=1 (identificador)
      operationId: findAllCompaniaGrupoDefinicion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCompaniaGrupoDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /companyias-grupo/definiciones/{id}:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera una definición de compañia aseguradora grupo
      description: Recupera una definición de compañia aseguradora grupo por ID
      operationId: findByIdCompaniaGrupoDefinicion
      parameters:
        - name: id
          in: path
          description: Identificador de la definición
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniaGrupoDefinicion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
  /companyias-grupo/traducciones:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera las traducciones de compañias aseguradoras grupo
      description: |-
        Recupera listado de las traducciones conforme a los filtros indicados, siendo requerido al menos el Idioma seleccionado para la consulta:

        - idioma.idIdioma=1 (idioma requerido)
        - companiaGrupo.< atributo >, por ej:
          - companiaGrupo.idCompaniaGrupo=1 (identificador)
      operationId: findAllCompaniaGrupoTraduccion
      parameters:
        - name: page
          in: query
          description: Número de página.
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            example: 0
            default: 0
        - name: size
          in: query
          description: Tamaño de la página.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            example: 20
            default: 20
        - name: sort
          in: query
          description: "Filtros de ordenación en el formato: property,(asc|desc).  La ordenación por defecto es ascendente (asc).  Se permite ordenación por múltiple."
          required: false
          schema:
            type: array
            items:
              type: string
        - name: parameters
          in: query
          description: "Parametros por los que realizar el filtrado avanzado basandose en Query DSL. <br> Para más información de como aplicar query DSL se puede encontrar en el siguiente enlace: <li><a href=\"https://gt-tech.bitbucket.io/spring-data-querydsl-value-operators/README.html\">Documentación query DSL</a></li> <br> EJEMPLOS: <li>'{\"datoIdentificativo.idObjetoAseguradoODL\": \"ci(contains(1111))\"}'</li> <li>'{\"asegurado.nombre\": \"ci(contains(\"JUAN\"))\", \"asegurado.edad\": \"gt(18)\"}'</li> <br>"
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/MultiValueMapString'
          example: "{\"propiedad.subpropiedad\": \"condición_para_filtrar\"}"
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCompaniaGrupoTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
      x-spring-paginated: true
  /companyias-grupo/traducciones/{id}:
    get:
      tags:
        - Compañias aseguradoras grupo
      summary: Recupera una traducción de compañia aseguradora grupo
      description: Recupera una traducción de compañia aseguradora grupo por ID
      operationId: findByIdCompaniaGrupoTraduccion
      parameters:
        - name: id
          in: path
          description: Identificador de la traducción
          required: true
          schema:
            minimum: 1
            type: integer
            format: int64
            example: 1
        - name: X-Request-ID
          in: header
          description: "ID de la petición, único en la llamada, determina el inicio de la petición."
          required: true
          schema:
            $ref: '#/components/schemas/RequestID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniaGrupoTraduccion'
        "400":
          description: La solicitud contiene sintaxis errónea o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        "401":
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_401'
        "403":
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        "404":
          description: No se han encontrado coincidencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        "409":
          description: "La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_409'
        "500":
          description: Error interno en el servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_500'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_502'
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_503'
      security:
        - oauth:
            - read:parametros-mdl
components:
  schemas:
    Idioma:
      type: object
      properties:
        idIdioma:
          $ref: '#/components/schemas/Identificador'
        codIdiomaIso:
          $ref: '#/components/schemas/CodigoIdiomaIso'
        _links:
          $ref: '#/components/schemas/Links'
      description: Idioma
    IdiomaDefinicion:
      type: object
      properties:
        idIdioma:
          $ref: '#/components/schemas/Identificador'
        idIdiomaCore:
          $ref: '#/components/schemas/Identificador'
        codCoreIdioma:
          $ref: '#/components/schemas/CodigoIdioma'
        codIdioma:
          $ref: '#/components/schemas/CodigoIdiomaIso'
      description: Definición del Idioma
    IdiomaTraduccion:
      type: object
      properties:
        idIdiomaIdioma:
          $ref: '#/components/schemas/Identificador'
        codIdioma1:
          $ref: '#/components/schemas/CodigoIdiomaIso'
        codIdioma2:
          $ref: '#/components/schemas/CodigoIdiomaIso'
        idIdioma1:
          $ref: '#/components/schemas/Identificador'
        idIdioma2:
          $ref: '#/components/schemas/Identificador'
        desIdioma:
          maxLength: 255
          minLength: 0
          type: string
          description: Traduccion de un idioma
          example: ESPANYOL
      description: Traduccion del Idioma
    Core:
      type: object
      properties:
        idCore:
          $ref: '#/components/schemas/Identificador'
        codCore:
          $ref: '#/components/schemas/CodigoCore'
        _links:
          $ref: '#/components/schemas/Links'
      description: Definicion
    Divisa:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        idDivisa:
          $ref: '#/components/schemas/Identificador'
        codDivisa:
          $ref: '#/components/schemas/CodigoDivisa'
        _links:
          $ref: '#/components/schemas/Links'
      description: Divisa
    DivisaDefinicion:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        idDivisaCore:
          $ref: '#/components/schemas/Identificador'
        codCoreDivisa:
          maxLength: 20
          minLength: 0
          type: string
          description: Código de definición de la divisa
          example: EUR
        divisa:
          $ref: '#/components/schemas/Divisa'
      description: Definicion de la divisa
    DivisaTraduccion:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        idDivisaIdioma:
          $ref: '#/components/schemas/Identificador'
        desDivisa:
          maxLength: 20
          minLength: 0
          type: string
          description: Código de traducción de la divisa
          example: Libra sterlina
        divisa:
          $ref: '#/components/schemas/Divisa'
      description: Traducción de la divisa
    CompaniaGrupo:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        codCompaniaGrupo:
          $ref: '#/components/schemas/CodigoCompaniaGrupo'
        _links:
          $ref: '#/components/schemas/Links'
      description: Compañia aseguradora grupo
    CompaniaGrupoDefinicion:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        codCoreCompaniaGrupo:
          $ref: '#/components/schemas/CodigoCompaniaGrupo'
        companiaGrupo:
          $ref: '#/components/schemas/CompaniaGrupo'
      description: Definición de Compañia aseguradora grupo
    CompaniaGrupoTraduccion:
      type: object
      properties:
        createdByUser:
          $ref: '#/components/schemas/UsuarioCreacion'
        lastModifiedByUser:
          $ref: '#/components/schemas/UsuarioUltimaModificacion'
        createdDate:
          $ref: '#/components/schemas/FechaCreacion'
        lastModifiedDate:
          $ref: '#/components/schemas/FechaUltimaModificacion'
        fecInicioVigencia:
          $ref: '#/components/schemas/FechaInicioVigencia'
        fecFinVigencia:
          $ref: '#/components/schemas/FechaFinVigencia'
        etagVersion:
          $ref: '#/components/schemas/Etag'
        desCompaniaGrupo:
          $ref: '#/components/schemas/DescripcionCompaniaGrupo'
        companiaGrupo:
          $ref: '#/components/schemas/CompaniaGrupo'
      description: Traducción de Compañia aseguradora grupo
    PagedCompaniaGrupo:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedCompaniaGrupo__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedCompaniaGrupoDefinicion:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedCompaniaGrupoDefinicion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedCompaniaGrupoTraduccion:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedCompaniaGrupoTraduccion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedIdioma:
      description: Paginacion del Idioma
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedIdioma__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedIdiomaDefinicion:
      description: Paginacion de la definicion del idioma
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedIdiomaDefinicion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedIdiomaTraduccion:
      description: Paginacion de la traduccion del idioma
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedIdiomaTraduccion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedCore:
      description: Paginacion de la definicion
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedCore__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedDivisa:
      description: Paginacion de la divisa
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedDivisa__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedDivisaDefinicion:
      description: Paginacion de la definicion de la divisa
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedDivisaDefinicion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    PagedDivisaTraduccion:
      description: Paginacion de la traduccion de la divisa
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            _embedded:
              $ref: '#/components/schemas/PagedDivisaTraduccion__embedded'
            _links:
              $ref: '#/components/schemas/Links'
    CodigoCompaniaGrupo:
      maxLength: 100
      minLength: 0
      type: string
      description: Código de la compañía aseguradora
      example: "1"
    DescripcionCompaniaGrupo:
      maxLength: 255
      minLength: 0
      type: string
      description: Traducción de Compañía de grupo
      example: Santalucía
    CodigoDivisa:
      maxLength: 20
      minLength: 0
      type: string
      description: Código de la divisa
      example: EUR
    CodigoCore:
      maxLength: 20
      minLength: 0
      type: string
      description: |-
        Código Core:
        - SIIS
        - GW
    CodigoIdiomaIso:
      maxLength: 20
      minLength: 0
      type: string
      description: Código Idioma ISO
      example: es-ES
    CodigoIdioma:
      maxLength: 20
      minLength: 0
      type: string
      description: Código Idioma
      example: "1"
    desc-dominio:
      required:
        - descripcion
        - key
        - linea-negocio
        - nombre
        - public
        - visible
      type: object
      properties:
        key:
          maxLength: 50
          pattern: "^[a-zA-Z]+$"
          type: string
          description: mdl
          example: mdl
        nombre:
          maxLength: 50
          pattern: "^[a-zA-Z]+$"
          type: string
          description: Mdl
          example: Mdl
        descripcion:
          maxLength: 250
          pattern: ^.+$
          type: string
          description: Conjunto de APIs destinadas a la consulta de catálogos de datos maestros de la compañía
          example: Conjunto de APIs destinadas a la consulta de catálogos de datos maestros de la compañía
        linea-negocio:
          $ref: '#/components/schemas/aseguradora'
        public:
          type: string
          description: "true"
          example: Flag que indica que se muestra en la sección pública del API Market
        visible:
          type: string
          description: "true"
          example: Visibilidad del dominio en el API Market (Privado/Público)
      description: Dominio funcional Mdl
    MultiValueMapString:
      title: Mapa de clave y valor en forma de strings
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    RequestID:
      title: Identificador de la petición
      type: string
      description: "ID de la petición, único en la llamada, determina el inicio de la petición."
      format: uuid
      example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
    error_400:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Bad Request
          example: Bad Request
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Valor no permitido
          example: Valor no permitido
        detalles:
          maxItems: 10
          type: array
          description: Detalles de los errores producidos
          items:
            $ref: '#/components/schemas/detalle_error'
        ruta:
          maxLength: 50
          pattern: "^[-//{}ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 400
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Solicitud incorrecta
    detalle_error:
      required:
        - mensaje
      type: object
      properties:
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Tipo de error
          example: GEN-001
        elemento:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Elemento no permitido
          example: search
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Descripción del error
          example: El parámetro search no está soportado
      additionalProperties: false
      description: Detalle del error
    error_401:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Unauthorized
          example: Unauthorized
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
          example: "Solicitud no autenticada debido a un token ausente, no válido o caducado"
        ruta:
          maxLength: 50
          pattern: "^[-//{}ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 401
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: No autorizado
    error_403:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Forbidden
          example: Forbidden
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Credenciales no correctas para poder ejecutar la operación solicitada
          example: Credenciales no correctas para poder ejecutar la operación solicitada
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 403
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Prohibido
    error_429:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Too Many Requests
          example: Too Many Requests
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Se ha excedido el límite de solicitudes permitidas.
          example: Se ha excedido el límite de solicitudes permitidas.
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 429
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Demasiadas solicitudes
    error_409:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Conflict
          example: Conflict
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica.
          example: La solicitud no pudo ser procesada debido a un conflicto con el estado actual del recurso que esta identifica.
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 409
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Conflicto
    error_500:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Internal server error
          example: Internal server error
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: El servidor ha encontrado una situación que no sabe cómo manejar.
          example: El servidor ha encontrado una situación que no sabe cómo manejar.
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 500
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Error interno del servidor
    error_502:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Bad Gateway
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: "El servidor, mientras actuaba como puerta de enlace o proxy, recibió un mensaje no válido, por lo que no puede responder adecuadamente a la petición."
          example: "El servidor, mientras actuaba como puerta de enlace o proxy, recibió un mensaje no válido, por lo que no puede responder adecuadamente a la petición."
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 502
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Puerta de enlace incorrecta
    error_503:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Service Unavailable
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: El servidor no puede responder a la petición del navegador porque está congestionado o está realizando tareas de mantenimiento.
          example: El servidor no puede responder a la petición del navegador porque está congestionado o está realizando tareas de mantenimiento.
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
          type: string
          description: Path donde se ha dado el error
          example: "/api-path/v1/operacion/{operacion}"
        timestamp:
          type: string
          description: |-
            "Timestamp del error"
            Formato: "YYYY-MM-DDTHH:mm:ss.SSSZ"
          format: date-time
          example: 2017-07-21T17:32:28.432Z
        status:
          type: integer
          description: Http error code
          format: int32
          example: 503
        apperrorcode:
          maxLength: 50
          pattern: "^[-ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Código de error de la aplicación backend
          example: GEN-001
        locale:
          maxLength: 10
          pattern: "^[-\\w\\s]+$"
          type: string
          description: Locale de la aplicación backend
          example: es-ES
      additionalProperties: false
      description: Servicio no disponible
    error_404:
      required:
        - mensaje
        - tipo
      type: object
      properties:
        tipo:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: Not Found
          example: Not Found
        mensaje:
          maxLength: 50
          pattern: "^[-,.ñÑáéíóúÁÉÍÓÚ\\w\\s]+$"
          type: string
          description: No se han encontrado coincidencias.
          example: No se han encontrado coincidencias.
        ruta:
          maxLength: 50
          pattern: "^[-//{}\\w\\s]+$"
[...]
